
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

:root {
    --primary: #0d6efd;
    --dark: #21252f;
    --body: #888;
    --white: #ffffff;
    --warning: orange;
    --box-shadow: 0 8px 22px rgba(0,0,0,0.1);
}

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.7;
    color: var(--body);
}

h1,h2,h3,h4,h5,h6,
.display-4 {
    color: var(--dark);
    font-weight: 700;
}

a {
    color: var(--white) !important;
    text-decoration: none;
}


img {
    width: 100%;
}

.navbar {
    box-shadow: var(--box-shadow);
}
.nav2 {
    box-shadow: var(--box-shadow);
}


.navbar .nav-link {
    font-size: 14px;
    /* font-weight: 700; */
    font-size: 20px;
}

.navbar .nav-link:hover {
    color: var(--primary) !important;
    border-bottom: 3px solid orange;
}


.navbar .nav-link.actives {
    color: var(--primary) !important;
}


.btn {
    padding: 10px 25px;
    border-width: 2px;
    border-radius: 10px;
    cursor: pointer;
}


.hero {
    background-image: url(../img/bg4.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
    height: 100vh;
    /* margin-top: -0px; */
    padding-top: 150px;
}

@media (max-width:960px) {
    .hero img{
        display: none;
    }
    .hero h1{
        width: 100%;
        /* border: #0d6efd solid 2px; */
        padding: 0 0;
    }
    .navbar{
        background-color: var(--dark);
    }
    .navbar .nav-link {
        font-size: 14px;
        font-weight: 700;
    }  
    #contact {
        width: 100%;
        height: 100%;
    }  
    #contact form input{
        width: 100%;
        height: 100%;
    }   
}
.hero::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(21, 20, 51, 0.8);
    z-index: -1;
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.card-effect {
    box-shadow: var(--box-shadow);
    background-color: var(--white);
    padding: 25px;
    transition: all 0.35s ease;
}

.card-effect:hover {
    box-shadow: 0 0 4px lightgray;
    transition: .5s;
    transform: translateY(-10px);
    border-radius: 10px;
}
.blog-post{
    border-radius: 25px;
}

.iconbox {
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--warning);
    color: var(--white);
    font-size: 32px;
    border-radius: 100px;
    flex: none;
}


.service {
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.service::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -100%;
    left: 0;
    background-color: var(--warning);
    z-index: -1;
    opacity: 0;
    transition: all 0.4s ease;
}


.service:hover .iconbox {
    background-color: var(--white);
    color: var(--warning);
}

.service:hover h5,
.service:hover p {
    color: var(--white);;
}

.service:hover::after {
    opacity: 1;
    bottom: 0;
    left: 0;
}

.col-img {
    background-image: url(../img/cover2.jpg);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

.project {
    position: relative;
    overflow: hidden;
}

.project .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(21, 20, 51, 0.8);
    padding: 30px;
    display: flex;
    align-items: flex-end;
    transition: all 0.4s ease;
    opacity: 0;
}

.project img {
    /* width: 100%;
    height: 270px; */
    transition: all 0.4s ease;   
}

.project:hover .overlay{
    opacity: 1;
}

.project:hover img {
    transform: scale(1.1);
}


.pricing i {
    font-size: 20px;
    color: var(--primary);
}

.pricing ul li {
    margin-top: 8px;
}

.team-member img {
    width: 125px;
    height: 125px;
    border-radius: 100px;
}


.social-icons {
    display: flex;
    justify-content: center;
}
.social-icons a {
    width: 34px;
    height: 34px;
    background-color: var(--dark);
    border-radius: 2px solid var(--primary);
    color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin-left: 5px;
    transition: all 0.4s ease;
    border: 2px solid var(--primary);
}

.social-icons a:hover {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);
}


form input.form-control {
    height: 56px;
}

form .form-control {
    border: transparent;
    border-radius: 0;
    background-color: rgba(0,0,0,0.02);
}


.footer-top {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: var(--dark);
}

.footer-top a {
    color: var(--body);
}

.footer-top a:hover {
    color: var(--white);
}

.footer-bottom {
    background-color: #242933;
}

#team{
   background-image: linear-gradient(rgba(0, 0, 0, 0.897),rgba(0, 0, 0, 0.719)),url(../img/ctt.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

#contact {
    background-image: linear-gradient(rgb(0, 0, 0),rgba(0, 0, 0, 0.719)),url(../img/ctt.png);
    background-position: right;
    background-repeat: no-repeat;
    /* background-size: cover;    */
}
.nav2 #bt2{
    visibility: hidden;
}

#bt1{
    background-color: transparent;
    border: 1px solid var(--warning);
}

#bt1:hover{
    background-color: var(--warning);
}

.nav2{
    display: none;
    transition: .5s;
}

.active.nav2{
    display: block;
    transition: .5s;
}

.active.nav2.nav-link{
    color: var(--primary) !important;
}
.nav2 a{
    color: var(--dark);
    text-decoration: none;
}

.nav2.nav-link:hover {
    color: var(--primary) !important;
    border-bottom: 3px solid orange;
}

.logo{
    margin-top: -50px;
}
#features{
    background-image: linear-gradient(rgb(0, 0, 0),rgba(0, 0, 0, 0.719)),url(../img/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    color: rgba(255, 255, 255, 0.726);  
}

#features h6{
    padding-top: 50px;
}
/* model */
.box{
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
}

.active.box{
    display: none;
}

.active.model-container{
    display: block;
}

.active.hero{
    filter: blur(5px) brightness(.7);
}

.model-container{
    transition: .5s;
    display: none;
    background-color: rgb(19, 1, 1);
    padding: 20px;
    border-radius: 10px;
    z-index: 2;
    position: relative;
}

.close img{
    width: 20px;
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
}